name: Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches: ['*']

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: /.github/actions/build/action.yml
      - name: Run tests
        run: npm test

  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: /.github/actions/build/action.yml
      - name: Run tests
        run: npm run test:e2e
